html {
  font-size: 16px;
}

header {
  clear:both;
}

#title {
  font-size: 5em;
  text-align: center;
  display:block;
  padding: 10px;
  font-family: 'source sans pro', sans-serif;
}

nav {
  color: aliceblue;
  display: inline-block;
  font-size: 1em;
  padding: 1em;
  width: auto;
  font-family: 'oswald', sans-serif;
}

li a:hover {
    background-color: #111;
}

#headerthree {
  background-color: deeppink;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  color:purple;
}

body {
  font-family: sans-serif;
  color: aliceblue;
  background-image: url(paris-seine.jpg);
  background-size: cover;
  font-size: 2em;
}

a {
  color: aliceblue;
  display: block;
  clear: both;
}

article {
  display:inline-block;
  clear:right;
}

img {
  width:20rem;
  padding: 2oem;
  border: 20em;
  border-color: aliceblue;
  margin: auto;
  height:15rem;
  float:left;
}

footer {
  clear:both;
  text-align: center;
}

p {
  font-family: 'oswald', sans-serif;
}

/*#home-link {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;    
}*/

/*#about-link {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;   
}*/


/*nav {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;  
}*/

/*li {
  color: aliceblue;
  display: inline-block;
  font-size: 2rem;
}*/
