img {
  width:20rem;
  padding: 2oem;
  border: 20em;
  border-color: aliceblue;
  margin: auto;
  height:15rem;
}

h1 {
  font-size: 7rem;
  text-align: center;
  color:darkred;
  display:block;
  padding: 10px;
}

h2 {
  font-size: 4rem;
  text-align: center;
  color:purple;
}

body {
  font-family: sans-serif;
  color: aliceblue;
  background-image: url(paris-seine.jpg);
  background-size: cover;
}


li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* this is original
li {
  color: aliceblue;
  display: inline-block;
  font-size: 2rem;
}*/

a {
  color: aliceblue;
  display: block;
  padding: 10px;
}

/*#home-link {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;    
}*/

/*#about-link {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;   
}*/


/*nav {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;  
}*/
