html {
  font-size: 12px;
}

header {
  clear:both;
}

#title {
  font-size: 5em;
  text-align: center;
  display:block;
  padding: 5px;
  font-family: 'source sans pro', sans-serif;
}

nav {
  color: aliceblue;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  width: auto;
  font-family: 'source sans pro', sans-serif;
}

li a:hover {
    background-color: #111;
}

li {
  display: inline-block;
  list-style: none;
  width: auto;
  padding: 2rem;
  border: 20em;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  color:purple;
}

h3 {
  font-size: 3em;
  padding: 2rem;
  border: 20em;
  text-decoration: underline;
}

fa {
  display: block;
  margin: auto;
  font-size: 2em;
}

body {
  font-family: sans-serif;
  color: aliceblue;
  background-image: url(paris-seine.jpg);
  background-size: cover;
  font-size: 2em;
}

a {
  color: aliceblue;
  display: block;
  clear: both;
}

article {
  display:inline-block;
  clear:right;
}

p {
  font-family: 'oswald', sans-serif;
  padding: 1rem;
}

#ducks {
  float:left;
}

#greyhound {
  float:left;
}

img {
  width:20rem;
  padding: 2rem;
  border: 20em;
  border-color: aliceblue;
  margin: auto;
  height:15rem;
  float:left;
}

footer {
  clear:both;
  text-align: center;
}


/*#home-link {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;    
}

#home {
}

#about {
}

#home {
}
*/

/*#about-link {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;   
}*/


/*nav {
  background-color: lightgrey;
    width: 300px;
    border: 5px solid blue;
    padding: 25px;
    margin: 25px;  
}*/

/*li {
  color: aliceblue;
  display: inline-block;
  font-size: 2rem;
}*/
